<a href="https://colab.research.google.com/github/imkyoungbin/230328/blob/main/%EC%9E%84%EA%B2%BD%EB%B9%88_2%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료형

##문자열
Q1. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일 [YYYYMMDD]  부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [2]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

# 결과값
# 881120
# 1068234

881120
1068234

Q2. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자

In [3]:
pin = "881120-1068234"
print(pin[7])

#결과값
# 1

1

##리스트
Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

In [4]:
a = [1,3,5,4,2]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

In [30]:
a = ['Life','is','too', 'short']
result = ' '.join(a)
print(result)

Life is too short

##튜플
Q1. (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자

In [21]:
a = (1,2,3)
a = a+(4,)
print(a)

(1, 2, 3, 4)

##딕셔너리
Q1. 딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.

In [31]:
a = {'A':90, 'B':80, 'C':70}
result =a.pop('B')
print(a) #B를 추출한 후 딕셔너리
print(result) #B에 해당되는 값

#결과값
#{'A':90, 'C':70}
# 80

{'A': 90, 'C': 70}
80

##세트
Q1. a리스트에서 중복된 숫자들을 제거해보자

In [32]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

#결과값
#[1,2,3,4,5]

[1, 2, 3, 4, 5]

##변수
Q1. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 아래와 같이 a, b 변수를 선언한 후 a의 첫 번째 요소값을 변경하면 b의 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해서 설명해 보자

In [38]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

In [39]:
id(a)

140514565523584

In [40]:
id(b)

140514565523584

a와 b가 같은 공간의 메모리에 값을 공유하기 때문에 a를 변경하면 b도 변경된다.

---

Q2.`x`원을 지불하기 위해서 `y`원 짜리(또는 `z`원 짜리) 동전을 몇 개 내야하는지 출력하시오.
```
x = 3928
y = 500
z = 100
```
**출력 예시**
```
500원짜리 동전 8개를 내세요
```

```
100원짜리 동전 40개를 내세요
```

In [51]:
x = 3928
y = 500
z = 100

print('500원짜리 동전 8개를 내세요')
print('100원짜리 동전 40개를 내세요')

500원짜리 동전 8개를 내세요
100원짜리 동전 40개를 내세요

---

Q3. 세 수의 평균을 구하시오

```
a = 21.9
b = 37
c = 13.6
```

In [52]:
a = 21.9
b = 37
c = 13.6

print((a+b+c)/3)

24.166666666666668